{% extends 'main_entrance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row overall-site-background justify-content-center">
    <div class='container main-object-container text-center'>
        <div class='jumbotron'>   
        <h2>Reset your password</h2>
        <br>
        <hr class = "my-4">
        <div class="lead d-flex justify-content-center text-center" >
            <p class="lead">
                Forgotten your password? Enter your email below and we'll send you
                an email with instructions to reset it.
            </p>
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="lead d-flex justify-content-center" >
                <button type="submit" class="btn btn-primary justify-content-center" value="Reset Password">Reset password</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock  %}