{% extends 'main_entrance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row overall-site-background justify-content-center">
    <div class='container main-object-container'>
        <div class='jumbotron'>   
        <h2>Password Reset Complete</h2>
        <br>
        <p class="lead">
            If the email you entered was valid, you will have received 
            an email with instructions to reset your password.
        </p>
        <hr class = "my-4">
        <div class="lead d-flex justify-content-center text-center" >
        </div>
        </div>
    </div>
</div>

{% endblock  %}