<!DOCTYPE html>
{% load static %}

<html lang="en" style="height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnkiForge</title>

    {% comment %} Bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="icon" type="image/png" href="{% static 'tablestyle/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tablestyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'tablestyle/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'tablestyle/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycsss.css' %}">
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-grow-1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'main_entrance:index' %}"><span class="navbar-brand mb-0 h1">AnkiForge</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% comment %} Left Side Stuff {% endcomment %}
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% url 'main_entrance:index' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Home</a>
                    </li>
                    {% url 'main_entrance:howitworks' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">How it works</a>
                    </li>



            {% comment %} Variable Nav {% endcomment %}
            {% if user.is_authenticated %}
            {% comment %} Left side Variable {% endcomment %}

                    {% url 'membership:user_profile' as url %}
                    <li class="nav-item {% if '/membership' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Account</a>
                    </li>
                    {% url 'decks:decks_preview' as url %}
                    <li class="nav-item {% if '/deck' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Decks</a>
                    </li>
                    {% url 'forge:forge_index' as url %}
                    <li class="nav-item {% if '/forge' in request.path %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Forge</a>
                    </li>
                </ul>
            </div>

            {% comment %} Right Side Variable {% endcomment %}

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main_entrance:logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            {% else %}


                </ul>
            </div>
            {% comment %} Right Side variable {% endcomment %}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main_entrance:login' %}">Login/Signup</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>
        
        {% block content %}
        
        {% endblock  %}
    </main>

    
    {% block footer_scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
        $('.js-pscroll').each(function(){
            var ps = new PerfectScrollbar(this);
            
			$(window).on('resize', function(){
                ps.update();
			})
		});
        
		
    </script>
{% endblock footer_scripts %}
</body>
{% block web_footer %}
<footer>
    <div class="d-flex justify-content-between">
        <div class="col-xs-3 bottom-bar-text-name">
            <p>AnkiForge</p>
        </div>
        <div class="col-xs-3">
            <p><a href = "mailto: ankiforge@gmail.com" class="bottom-bar-text">Contact</a></p>
        </div>
    </div>
    {% endblock web_footer %}
</footer>
</html>