{% extends 'main_entrance/base.html' %}

{% block content %}

<div class="row how-it-works-page-title-box justify-content-center">
    <h1 class=how-it-works-page-title>How AnkiForge works...</h1>
</div>

<div class="row justify-content-between">
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 1 </h3>
                <h3 class="how-it-works-title text-center">Sign up and subscribe </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    When I first started learning Spanish, I found Anki in-dispensible. It was a sure-fire way to commit vocab 
                    to memory. However, I found the process of making good quality cards, from sentence mining, time consuming. So I made a python script to do it for me. 
                    I found it so useful that I thought other people would want to use it too. Fast forward 6 months and here we are.  
                </p>
            </div>
            </div>
    </div>
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 2 </h3>
                <h3 class="how-it-works-title text-center">Make a deck </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    When I first started learning Spanish, I found Anki in-dispensible. It was a sure-fire way to commit vocab 
                    to memory. However, I found the process of making good quality cards, from sentence mining, time consuming. So I made a python script to do it for me. 
                    I found it so useful that I thought other people would want to use it too. Fast forward 6 months and here we are.  
                </p>
            </div>
            </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 3 </h3> </h3>
                <h3 class="how-it-works-title text-center">Add cards </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    When I first started learning Spanish, I found Anki in-dispensible. It was a sure-fire way to commit vocab 
                    to memory. However, I found the process of making good quality cards, from sentence mining, time consuming. So I made a python script to do it for me. 
                    I found it so useful that I thought other people would want to use it too. Fast forward 6 months and here we are.  
                </p>
            </div>
            </div>
    </div>
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 4 </h3>
                <h3 class="how-it-works-title text-center">Forge your deck </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    When I first started learning Spanish, I found Anki in-dispensible. It was a sure-fire way to commit vocab 
                    to memory. However, I found the process of making good quality cards, from sentence mining, time consuming. So I made a python script to do it for me. 
                    I found it so useful that I thought other people would want to use it too. Fast forward 6 months and here we are.  
                </p>
            </div>
            </div>
    </div>
</div>

{% endblock  %}