{% extends 'main_entrance/base.html' %}

{% block content %}

<div class="row how-it-works-page-title-box justify-content-center">
    <div class="col-md-12 text-center">
        <h1 class=how-it-works-page-title>How AnkiForge works in 4 steps...</h1>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 1 </h3>
                <h3 class="how-it-works-title text-center">Sign up and subscribe </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    Sign up from the link in the top right. Once you've made an acccount, you will be prompted to subcribe
                    through Stripe Payment Systems. Follow the steps. You'll then receive an email that we've received your payment and you'll 
                    be ready to begin. You can cancel your subscription at anytime.
                </p>
            </div>
            </div>
    </div>
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 2 </h3>
                <h3 class="how-it-works-title text-center">Make a deck </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    Now you need to <a href="{% url 'decks:decks_create' %}" target="_blank">create a deck template</a> so AnkiForge know's how you'd like your cards. You need a name to recognise each deck on AnkiForge. You also
                    need a name for the deck in Anki. <span style="font-weight:400;"> Important, if you want the cards to be added to a deck that you 
                    are already using - you need to make sure the name in the Anki Deck field matches exactly with the name of your deck in Anki.</span> Otherwise, just
                    name the deck whatever you'd like it to be called in Anki. Select the language you'd like to learn in this deck. Finally, you need to select the style 
                    for the cards, you can preview the available styles <a href="{% url 'decks:decks_preview' %}" target="_blank"> here.</a>
                </p>
            </div>
            </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 3 </h3> </h3>
                <h3 class="how-it-works-title text-center">Add cards </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    Now we are ready to begin adding cards. This is the part that will begin to use your monthly credit. The deduction from your credit is dependent on the number 
                    of characters that you send. <span style="font-style:italic;"> With an average card length of 50 characters, you can make around 400 cards each month.</span>
                    From the Forge section of the website, go to <a href="{% url 'forge:forge_add_card_index' %}" target="_blank">add a card.</a> Then simply select the deck you want to send cards to, enter the quote and click send! This can be done from mobile or your desktop. 
                    There is also a desktop application available, that can be downloaded here. This will allow you to send quotes using the keyboard shortcut "ctrl/cmd + c" followed
                    by "ctrl/cmd + x". 
                    
                </p>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <p class="lead text-center">Tips: making the best cards</p>
                            </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="entry-content text-center lead">
                                    <ul>
                                        <li id="card-list-object">
                                            As countless Anki users will tell you, it is best to use anki cards with complete sentences. This helps add context to a word and 
                                            understand the gramma. For me personally, this has definitely been true. However, if you want
                                            to use Ankiforge for individual words it will still work well.
                                        </li>
                                        <li id="card-list-object">
                                            I would always recommend sending quotes in your learnt language, using example sentences from dictionarys, books or TV. This way you get more
                                            natural and native sounding cards and audio. It's also much easier for you to spot mistakes from the translator in your native language and edit the card.
                                        </li>
                                        <li id="card-list-object">
                                            My workflow when I want to add a word is to go to a dictionary, get an example sentence and send it to ankiforge.
                                        </li>
                                        <li id="card-list-object">
                                            If you are going to add quotes in English, I recommend adding some context to the sentence so that the translator can pick the correct word. 
                                            For example: sending "We met yesterday" to spanish gives "Nos conocimos ayer". This implies you met someone for the first time. However, if you 
                                            send "We met for a drink" it will give "Nos encontramos para tomar una copa", which is more accurate for meeting a friend.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="col-lg-6 d-flex">
        <div class="card text-center lead how-it-works-card">
            <div class="card-body">
                <h3 class="how-it-works-step-number text-left">Step 4 </h3>
                <h3 class="how-it-works-title text-center">Forge your deck </h3>
                <hr>
                <p class="card-text how-it-works-card-text">
                    Finally, <a href="{% url 'forge:forge_forge_decks_index' %}" target="_blank">forge your deck</a>. Simply select the deck on the left pane and 
                    you will see all the cards you've sent that are ready to be made into a deck. <span style="font-weight:600">This should always been done from a desktop.</span>
                    You will only see cards here that have not yet been made into ".apkg" files. You can forge into decks as often as you like (I prefer to do it every few days after
                    building up a few cards). Once forged, you will be prompted to download the deck, you then just need to click the download and it should open and import to Anki.
                    If that doesn't work, just open up Anki and click import at the bottom, and select the file you just made. If you want to download your previously forged decks, just go 
                    to <a href="{% url 'forge:forge_already_forged_index' %}" target="_blank">My forged decks</a>. Here you'll see all your forged ".apkg" files for that deck.
                </p>
            </div>
            </div>
    </div>
</div>

{% endblock  %}