AnkiForge/Site/AnkiForge/AnkiForge/AnkiForge/secretsettings.py
AnkiForge/Site/AnkiForge/AnkiForge/GoogleKey.json
AnkiForge/Site/AnkiForge/AnkiForge/SecretKeys/
AnkiForge/Site/AnkiForge/AnkiForge/staticfiles/
AnkiForge/Site/AnkiForge/AnkiForge/forge/testing_scripts
AnkiForge/Site/AnkiForge/AnkiForge/env.env
AnkiForge/Site/AnkiForge/AnkiForge/env.prod.env
AnkiForge/env
AnkiForge/Site/AnkiForge/AnkiForge/env.env
AnkiForge/Site/AnkiForge/AnkiForge/forge/audio
AnkiForge/Site/AnkiForge/AnkiForge/forge/images
AnkiForge/AnkiForgeDesktop/node_modules
*.DS_Store
*.idea
*.pyc
.DS_Store

