AnkiForge/Site/AnkiForge/AnkiForge/AnkiForge/secretsettings.py
AnkiForge/Site/AnkiForge/AnkiForge/GoogleKey.json
AnkiForge/Site/AnkiForge/AnkiForge/SecretKeys/
AnkiForge/Site/AnkiForge/AnkiForge/staticfiles/
AnkiForge/Site/AnkiForge/AnkiForge/forge/testing_scripts
AnkiForge/Site/AnkiForge/AnkiForge/env.env
AnkiForge/Site/AnkiForge/AnkiForge/env.prod.env
AnkiForge/env
AnkiForge/Site/AnkiForge/AnkiForge/env.env
AnkiForge/AnkiForgeDesktop/node_modules
AnkiForge/Site/AnkiForge/AnkiForge/static/
AnkiForge/AnkiForgeDesktop/out
AnkiForge/Site/AnkiForge/AnkiForge/forge/images/*
AnkiForge/Site/AnkiForge/AnkiForge/forge/forgeddecks/*
AnkiForge/Site/AnkiForge/AnkiForge/forge/audio/*
*.DS_Store
*.idea
*.pyc
.DS_Store

