<div class="list-group decks-base-nav">
    {% url 'membership:user_profile' as url %}
    <a href="{{ url }}" class="list-group-item list-group-item-action decks-base-nav-list-item {% if request.path == url %}deck-base-list-item-active{% endif %}">My Account</a>
    {% url 'membership:subscribe' as url %}
    <a href="{{ url }}" class="list-group-item list-group-item-action decks-base-nav-list-item {% if '/subscribe' in request.path %}deck-base-list-item-active{% endif %}">Subscription</a>
</div>