{% extends 'main_entrance/base.html' %}
{% load static %}
{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'membership/base.html' %}
    </div>
        <!-- All other content -->
    <div class = "col-md-10">    
            <div class='decks-preview-text-box justify-content-center'>
                <div class = "jumbotron text-center">
        <h1>Subscription Cancelled</h1>
        <br>
        <hr>
        <p class="lead"> You're subscription, that began on {{ period_start_date }} has now been cancelled. You will have access to AnkiForge up to {{ period_end_date }}. Thanks for giving AnkiForge a try.</p>
    </div>
</div>

        
        
        
        
        
        <!-- This is the end of all other content. -->
{% endblock content %}

{% block footer_scripts %}
{{ block.super }}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/subscription.js' %}"></script>

{% endblock %}