{% extends 'main_entrance/base.html' %}
{% load static %}
{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'membership/base.html' %}
    </div>
    <div class = "col-md-10">    
        <!-- All other content -->
        <div class="decks-preview-text-box justify-content-center">
            <div class="jumbotron text-center">
                <h1>Subscription</h1>
                <hr>
                {% if user.user_membership.subscription.active %}
                    <p class="lead" style="margin-bottom:15px;">Cancel your subscription. If you've already cancelled your subscription, you will have recevied a cancellation email and you will not be charged. </p>
                    <a type="button" class="btn btn-danger" href="{% url 'membership:cancel_subscription' %}">Cancel</a>
                {% else %}
                    <p class="lead" style="margin-bottom:15px;" >
                        You've signed up, now you need to start your subscription. 
                        You will be redirected to stripe payment systems where your payment 
                        will be processed. Your payment will be taken automatically upon one month after your first payment.
                        You can cancel your subscription at any time from this page. 
                    </p>
                    <button type="submit" class="btn btn-success" id = "submitbtn">Subscribe</button>
                    <p class="lead" style="margin-top:50px; color:gray;">
                        If you are seeing this page in error and have already subscribed. Please 
                        get in touch using the contact button at the bottom of this page.
                    </p>
                {% endif %}
            </div>
        </div>
        
        <!-- This is the end of all other content. -->
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}
{{ block.super }}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/subscription.js' %}"></script>

{% endblock %}