{% extends 'main_entrance/base.html' %}
{% load static %}
{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'membership/base.html' %}
    </div>
    <div class = "col-md-10">    
        <!-- All other content -->
        <div class="decks-preview-text-box justify-content-center">
            <div class="jumbotron text-center">
                <h3>You have succesfully subscribed!</h3>
                <hr>
                <br>
                <p class = "lead">
                    You're credit has been added to your account and you can begin forging!
                     Head over to <a href = "{% url 'main_entrance:howitworks' %}"> how it works</a> to get started! 
                     If your experiencing any issues - please get in touch using contact at the bottom.
                </p>
            </div>
        </div>
        
        
        
        
        
        <!-- This is the end of all other content. -->
    </div>
</div>
{% endblock content %}