{% extends 'main_entrance/base.html' %}
{% block content %}
{% comment %} SIDE MENU {% endcomment %}


<div class = "row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'decks/base.html' %}
    </div>

    {% if userdecks.current_user_decks %}
    <div class="col-md">
        <div class="container d-flex table-container">
            <div class="table-responsive">
                <div class="table100 ver1 m-b-20">
                    <div class="table100-head">
                        <table>
                            <thead class="thead-dark">
                                <tr class="row100 head">
                                    <th class="cell100 column1" style="width: 30%">AnkiForge Name</th>
                                    <th class="cell100 column2" style="width: 30%">Anki Name</th>
                                    <th class="cell100 column3" style="width: 20%">Native Lang</th>
                                    <th class="cell100 column4" style="width: 20%">Learnt Lang</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            {% for deck in userdecks.current_user_decks %}
                                    <tr class="row100 body">
                                        <td class="cell100 column1" style="width: 30%">{{ deck.ankiforge_deck_name }}</td>
                                        <td class="cell100 column2" style="width: 30%">{{ deck.anki_deck_name }}</td>
                                        <td class="cell100 column3" style="width: 20%">{{ deck.get_native_lang_display }}</td>
                                        <td class="cell100 column4" style="width: 20%">{{ deck.get_learnt_lang_display }}</td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="col-md">
        <div class="form-container main-object-container d-flex justify-content-center">
            <div class="jumbotron">
                <h5> You don't currently have any decks created</h5>
                <hr>
                <p>
                     Please navigate to Make a Deck on the left pane to create
                     a deck on AnkiForge and begin making cards.
                </p>
            </div>
        </div>
    {% endif %}
    </div>

</div>
{% endblock content %}