{% extends 'main_entrance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'forge/base.html' %}
            <div class="forge-extended-side-nav">
                <h4 class="forge-extended-nav-title"> Your decks </h4>
                <div class = "list-group">
                    {% for deck in userdecks %}
                    <a class = "list-item forge-extended-side-nav-list-item" href = "{% url 'forge:forge_add_card_form' pk=deck.id %}">{{ deck.ankiforge_deck_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md">    
        {% comment %} All page content here {% endcomment %}
    
        <div class= "decks-preview-text-box d-flex justify-content-center">
            <div class="jumbotron justify-content-center text-center">
                <h1 class= "subscribecardtitle text-center"> Add to a card to your deck: {{ current_deck.ankiforge_deck_name }}</h1>
                <hr>
                <p class="lead">
                    Enter a quote in either {{ current_deck.get_native_lang_display }} or {{ current_deck.get_learnt_lang_display }} that you would like to have made into a card. 
                    The cost of the card will be deducted from your monthly allowance and the card will appear in under a minute in 
                    "Forge a deck" on the right. When you are ready, forge all the recently added cards and import the file to Anki!
                </p>
                <hr>
                {% csrf_token %}
                {% crispy form %}
            </div>
        </div>
        <p class="text-center">Remember, you can also add cards easily with the desktop app, download <a href="#">here.</a></p>
    
        
        
        {% comment %} This is the end of content {% endcomment %}
    </div>
</div>
{% endblock content %}