{% extends 'main_entrance/base.html' %}

{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'forge/base.html' %}
            <div class="forge-extended-side-nav">
                <h4 class="forge-extended-nav-title"> Your decks </h4>
                <div class = "list-group">
                    {% for deck in userdecks %}
                        <a class = "list-item forge-extended-side-nav-list-item" href = "{% url 'forge:forge_already_forged_list' pk=deck.id %}">{{ deck.ankiforge_deck_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} All page content here {% endcomment %}
    <div class = "col-md">    
    
        <div class= "decks-preview-text-box d-flex justify-content-center">
            <div class="jumbotron justify-content-center text-center">
                <h1> Your Forged Decks</h1>
                <hr>
                <p class="lead"> The decks you have previously forged into files are stored here.
                 Select one of your decks on the left to view the files available for it. </p>
            </div>
        </div>
    
        
        
        {% comment %} This is the end of content {% endcomment %}
    </div>
</div>
{% endblock content %}