{% extends 'main_entrance/base.html' %}

{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'forge/base.html' %}
            <div class="forge-extended-side-nav">
                <h4 class="forge-extended-nav-title"> Your decks </h4>
                <div class = "list-group">
                    {% for deck in userdecks %}
                    <a class = "list-item forge-extended-side-nav-list-item" href = "{% url 'forge:forge_already_forged_list' pk=deck.id %}">{{ deck.ankiforge_deck_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} All page content here {% endcomment %}
    
    {% if forged_decks %}
    <div class = "col-md">    
        <div class="decks-preview-text-box d-flex justify-content-center">
            <h3 class="forged-decks-title">Forged decks for: {{ deck_name }}</h3>
        </div>
            <div class="container d-flex table-container">
                <div class="table-responsive">
                    <div class="table100 ver1 m-b-20">
                        <div class="table100-head">
                            <table>
                                <thead class="thead-dark">
                                    <tr class="row100 head">
                                        <th class="cell100 column1 text-center" style="width: 30%">Date Forged</th>
                                        <th class="cell100 column2 text-center" style="width: 30%">Number of cards</th>
                                        <th class="cell100 column3 text-center" style="width: 30%">Download</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                {% for deck in forged_decks %}
                                        <tr class="row100 body">
                                            <td class="cell100 column1 text-center" style="width: 30%">{{ deck.date_created }}</td>
                                            <td class="cell100 column2 text-center" style="width: 30%">{{ deck.number_of_cards }}</td>
                                            <td class="cell100 column3 text-center" style="width: 30%"><a type="button" class="btn btn-success" href="{% url 'forge:forge_already_forged_download' pk=deck.pk %}">Download</a></td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-10">
            <div class="decks-preview-text-box d-flex justify-content-center">
                <div class= "jumbotron justify-content-center text-center">
                    <h1>This deck currently doesn't have any forged cards.</h1>
                    <hr>
                    <p class="lead"> Go to <span class="font-italic">Forge a deck</span> to add forge the cards you have already added into a deck. If you are confused, please visit the "how it works" page.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}