<div class="list-group">
    {% url 'forge:forge_index' as url %}
    <a href="{{ url }}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}">Introduction</a>
    {% url 'forge:forge_add_incoming_card' as url %}
    <a href="{{ url }}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}">Make a card</a>
    {% url 'decks:decks_list' as url %}
    <a href="{{ url }}" class="list-group-item list-group-item-action {% if request.path == url %}active{% endif %}">Forge a deck</a>
</div>
