{% extends 'main_entrance/base.html' %}

{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row d-flex justify-content-center">
    <div class="col-md-2">    
        {% include 'forge/base.html' %}
            <div class="forge-extended-side-nav">
                <h4 class="forge-extended-nav-title"> Your decks </h4>
                <div class = "list-group">
                    {% for deck in userdecks %}
                        <a class = "list-item forge-extended-side-nav-list-item" href = "{% url 'forge:forge_forge_decks' pk=deck.id %}">{{ deck.ankiforge_deck_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class = "col-md-10">    
        {% comment %} All page content here {% endcomment %}
    
        <div class= "decks-preview-text-box d-flex justify-content-center">
            <div class="jumbotron justify-content-center text-center">
                <h1> Forge a deck </h1>
                <hr>
                <p class="lead"> 
                    Welcome to forge. Here you can see all the cards you've sent to AnkiForge that have not yet been forged into ".apkg" Anki decks. 
                    Select a deck from the right and click forge at the bottom of the table to create and download the deck. 
                </p>
                {% for card in  current_decks_cards %}
                    <p> {{ card.incoming_quote }}</p>
                {% endfor %}
            </div>
        </div>
    
        
        
        {% comment %} This is the end of content {% endcomment %}
    </div>
</div>
{% endblock content %}