{% extends 'main_entrance/base.html' %}

{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row">
    <div class="col-2">    
        {% include 'forge/base.html' %}
        <br>
        <div class = "jumbotron">
            <h4> Your decks </h4>
            <div class = "list-group">
                {% for deck in userdecks %}
                    <a class = "list-item" href = "{% url 'forge:forge_forge_decks' pk=deck.id %}">{{ deck.ankiforge_deck_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = "col">    
        {% comment %} All page content here {% endcomment %}
    
        <div class= "container">
            <div class="jumbotron">
                <h1> Welcome to Forge</h1>
                <hr>
                <p class="lead"> Welcome to forge. Select a deck from the right to begin forging </p>
                {% for card in  current_decks_cards %}
                    <p> {{ card.incoming_quote }}</p>
                {% endfor %}
            </div>
        </div>
    
        
        
        {% comment %} This is the end of content {% endcomment %}
    </div>
</div>
{% endblock content %}