{% extends 'main_entrance/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} SIDE MENU {% endcomment %}
<div class="row">
    <div class="col-2">    
        {% include 'forge/base.html' %}
    </div>
    <div class = "col">    
        {% comment %} All page content here {% endcomment %}
    
        <div class= "container">
            <div class="jumbotron">
                <h1 class= "text-center"> Test the task</h1>
                <hr>
                <form method='POST' acion=''> {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='submit form'/>
                </form>
            </div>
        </div>
    
        
        
        {% comment %} This is the end of content {% endcomment %}
    </div>
</div>
{% endblock content %}